.steps-container {
  display: flex;
  gap: 10px;
}

.step {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 5vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-top: -10px;
  transition: 0.3s ease;
  animation: fadeIn 0.5s ease;
}

.step {
  font-size: 2vw;
}

.active-step {
  background-color: #007bff;
  font-size: 3vw;
  box-shadow: 0 0 10px #0056b3;
  transform: translateY(-10px);
  transition: 0.3s ease;
  animation: bounce 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
}
