.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
}
.box1,
.box2,
.box3 {
  width: 30%;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease;
}
.box1,
.box3 {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.box2 {
  width: 50%;
  height: 92%;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(238, 238, 238);
  border: 1px solid grey;
  border-radius: 20px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
  gap: 40px;
}

.signinForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}
#signup {
  gap: 20px;
}
.input {
  width: 95%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding-left: 5%;
  margin-top: 10px;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
}

.input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.submit {
  width: 100%;
  height: 40px;
  background-color: #007bff;
  color: white;
  border: 0;
  margin-top: 10px;
  border-radius: 15px;
  transition:
    background-color 0.3s,
    transform 0.3s;
}

.submit:hover {
  background-color: #0056b3;
  cursor: pointer;
  transform: translateY(-2px);
}

.submit:active {
  transform: translateY(0);
}
.arrow-right {
  scale: 2;
  color: #007bff;
  transition: 0.3s ease;
}
.arrow-right:hover {
  color: #0056b3;
  cursor: pointer;
  transform: translateX(2px);
  transition: 0.3s ease;
}
.arrow-right:active {
  transform: translateX(0);
}
.arrow-left {
  scale: 2;
  color: #007bff;
  transition: 0.3s ease;
}
.arrow-left:hover {
  color: #0056b3;
  cursor: pointer;
  transform: translateX(-2px);
  transition: 0.3s ease;
}
.arrow-left:active {
  transform: translateX(0);
}
.red {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  left: 43.5%;
  width: 200px;
  height: 50px;
  background-color: red;
  color: white;
  border-radius: 20px;
}
.filled {
  background-color: #007bff;
  font-size: 3vw;
  box-shadow: 0 0 10px #0056b3;
}
.not-filled {
  font-size: 3vw;
}
.steps-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  padding-top: 3vh;
  width: 40vw;
}
.step {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 5vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-top: -10px;
}

.imginput {
  display: none;
}

.custom-file-button {
  width: 50%;
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s ease;
}

.custom-file-button:hover {
  background-color: #45a049;
  transform: translateY(-3px);
  transition: 0.3s ease;
}
hr {
  width: 100%;
}
a {
  color: #007bff;
}

a:hover {
  color: #0056b3;
}
.avatars {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: -50px;
}
.avatar1,
.avatar2,
.avatar3,
.avatar4,
.avatar5 {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100px;
  min-width: 100px;
  width: 23%;
  height: auto;
  border-radius: 50px;
}
.img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s ease;
}
.img:hover {
  cursor: pointer;
  transform: translateY(-10px);
  transition: 0.3s ease;
}
.img:active {
  transform: translateY(0);
}
